

.container{
    padding-left: 50px;
    padding-right: 50px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

footer {
    background-color: darkgray;
    height: 50px;
    padding: 10px;
}

.pixoto{
    padding-bottom: 20px;
}

.panel-heading a{
    text-decoration:none;
}


/* Nav Menu item */
.navbar-default .navbar-nav>li>a {
    color: white;
}

/* Nav Menu item on hover */
.navbar-default .navbar-nav>li>a:hover{
    color: #14253E;
    background-color: white;
}

/*Brand text*/
.navbar-default .navbar-brand {
    color: white;
}

/*Brand text*/
.navbar-default .navbar-brand:hover {
    color: #14253E;
    background-color: white;
}


/*default nav bar color*/
.navbar-default {
    background-color: #14253E;
    border-color: black;
}

/*body*/
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: ##14253E;
    background-color: white;
}


/*thumbnail*/
.thumbnail .caption {
    padding-top: none;
    padding-right: 9px;
    padding-bottom: none;
    padding-left: 9px;
    color: #14253E;
}