

.container{
    padding-left: 50px;
    padding-right: 50px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}


/*adding padding for the link*/
.pixoto{
    padding-bottom: 20px;
}

/* Nav Menu item */
.navbar-default .navbar-nav>li>a {
    color: white;
}

/* Nav Menu item on hover */
.navbar-default .navbar-nav>li>a:hover{
    color: #14253E;
    background-color: white;
}

/*Nav Menu item selected/focus */
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #14253E;
    background-color: whitesmoke;
}


/*Brand text*/
.navbar-default .navbar-brand {
    color: white;
}

/*Brand text*/
.navbar-default .navbar-brand:hover {
    color: #14253E;
    background-color: white;
}


/*default nav bar color*/
.navbar-default {
    background-color: #14253E;
    border-color: #14253E;
    border: none;
}

/*body*/
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #14253E;
    background-color: white;
}


/*thumbnail on homepage*/
.thumbnail .caption {
    padding-top: none;
    padding-right: 9px;
    padding-bottom: none;
    padding-left: 9px;
    color: #14253E;
}

/* quotation*/
blockquote {
    background-color: #F5F5F5;
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #14253E;
}


/*Title of reviews and projects page*/
.panel-default>.panel-heading {
    color: #14253E;
    background-color: #F5F5F5;
    border-color: #ddd;
    font-weight: bold;
}


/*Footer of reviews and projects page*/
.panel-footer {
    padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    background-color: white;
}

/*hights tags in projects */
.label{
    color: white;
    background-color: #457B9D;
}

/* Footer*/
footer {
    background-color: white;
    height: 50px;
    padding: 10px;
}

/*used as footer button*/
.btn-default {
    color: white;
    background-color: #14253E;
    border-color: #ccc;
}

.btn-default.focus, .btn-default:focus {
    color: white;
    background-color: #14253E;
    border-color: #ccc;
}


.modal-dialog{
    max-width:800px;
    width: auto;
    height: 100%;
}
.modal-body{
    padding: 0px;
}
.modal-header{
    padding: 9px;
    text-align: center;
}
.modal-footer{
    padding: 5px;
}
